
body{
  background-image: url("https://bhf-cdn.azureedge.net/bhf-blob-prod/0008208_albin-cream-linen-texture_360.jpeg");
  color: black;
  font-family: garamond, serif;
  margin:10% 20% 
  
}

.line-header{
  text-align: center;
  border-top: 1px solid black;
}

.name-header{
  text-align: center;
  text-transform: Capitalize;
}




